$site-blue: #53afe5;
$site-light-blue: unquote('#0d95e870');
$site-white: #fff;
$site-green: #00d1b2;
$site-highlight: #186df7;
$site-api-dark: #71777d ;
$site-api-dark-hover: #52575b;
$site-api-section-text: #fff;
$title-text-color: #333;
$gray-text-color: #888b94;
$border-color: #e6eef1;
$gray-bac: #f4f4f4;
$footer-bac: #0b120e;
$footer-title: #c5cccf;
$footer-text-color: #cacaca;
$toTop-color: rgba(2, 2, 2, 0.28);
$toTop-hover-color: rgba(2, 2, 2, 0.40);
$bg-color: #f2f2f2;
$bg-blue-color: #cae4fa;
$bg-dark-blue-color: #3399CC;
$light-grey: #f3f3f3;

